/* Most of your styles should come from Bootstrap classes, adding styles to this class should be unnecessary */
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
